<style>
.nivo-caption{
	display:none !important;
}
</style>
<script>
$(document).ready(function (){
		$('.myclass').vTicker({
		   speed: 2500,
		   pause: 10000,
		   showItems: 1,
		   animation: 'slide',
		   mousePause: true,
		   height: 145,
		   direction: 'up'
		});
		
		$('#nivo-slider').nivoSlider({
				effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
				animSpeed:500,
				pauseTime:5000,
				controlNav:true //1,2,3...
			});
			$(document).ready(function(){
$("a[rel^='prettyPhoto']").prettyPhoto();
}); 
});
</script>
<div id="featured_home" class="clearfix">
        	<div id="nivo-slider">
			<a href="#" title="Get the freedom to Earn what you have seen in your Dreams. "><img src="images/slide.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="One easy payment. One account to manage."><img src="images/slide1.jpg" width="960" height="300" alt="" /></a>
			<a href="about.php" title="We offer MLM solutions."><img src="images/slide2.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="We look at the bigger picture with you."><img src="images/slide3.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="Get the freedom to Earn what you have seen in your Dreams. "><img src="images/slide.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="One easy payment. One account to manage."><img src="images/slide1.jpg" width="960" height="300" alt="" /></a>
			<a href="about.php" title="We offer MLM solutions."><img src="images/slide2.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="We look at the bigger picture with you."><img src="images/slide3.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="Get the freedom to Earn what you have seen in your Dreams. "><img src="images/slide.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="One easy payment. One account to manage."><img src="images/slide1.jpg" width="960" height="300" alt="" /></a>
			<a href="about.php" title="We offer MLM solutions."><img src="images/slide2.jpg" width="960" height="300" alt="" /></a>
			<a href="#" title="We look at the bigger picture with you."><img src="images/slide3.jpg" width="960" height="300" alt="" /></a>
		</div>
      		<!--  END "bigimg"  //-->
       
</div><!--  END "featured_home"  //-->
<div id="message_buttons">
			<div class="button1"><a href="#">Video Gallery</a></div>
            <div class="button2"><a href="#">News And Events</a></div>
        </div><!--  END "message_buttons"  //-->
        <div id="content_wrap">
            <div id="inner_content">
                <div class="entry">
                  <object width="550" height="310"><param name="movie" value="http://www.youtube.com/v/cgwxXKsZhAo?version=3&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/cgwxXKsZhAo?version=3&amp;hl=en_GB" type="application/x-shockwave-flash" width="550" height="310" allowscriptaccess="always" allowfullscreen="true"></embed></object>
                </div><!--  END "entry"  //-->
                <div class="entry">
                 	<div class="widget">
                	<h3 class="widget_title" style="width:539px;">Social Networks</h3>
                    <div class="widget_content" style="padding-bottom:2px;">
					<div style="height: 90px; background: #666666;width: 516px;margin-top: 6px;">
					<div id="navigation">
					<li style="list-style:none"> <a href="#">
					<img src="images/facebook-icon.png" height="65px" width="65px" title="Facebook"/></a>
					<a href="#"><img src="images/twitter-icon.png" height="58px" width="65px" title="Twitter"/></a>
					<a href="#"><img src="images/google-plus-icon.png" height="58px" width="65px" title="Google+" /></a>
					<a href="#"><img src="images/orkut-icon.png" height="65px" width="65px" title="Orkut"/></a>
					<a href="#"><img src="images/linkedin-icon.png" height="65px" width="65px" title="Linke In" /></a>
					</li>
					
					</div>
					
					</div>
					</div>
					</div>
					
                </div><!--  END "entry"  //-->
            </div><!--  END "inner_content"  //-->
            <div id="sidebar_home">
            	<div class="widget" style="height:215px">
                	<h3 class="widget_title">Latest News</h3>
                    <div class="widget_content" style="height:125px; padding-left:30px; cursor:pointer;">
                    <div class='myclass'>
					   <ul>
						  <li>
						  <div style="font-size:20px; font-weight:bold"><u>News Heading 1</u></div>
						  <div>
						  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..
						  </div></li>
						  
						  <li><div style="font-size:20px; font-weight:bold"><u>News Heading 2</u></div>
						  <div>
						  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..  Here is some content for news..
						  </div></li>
						 
					   </ul>
					</div>
                    </div><!--  END "widget_content"  //-->
                </div><!--  END "widget"  //-->
                <div class="widget">
                	<h3 class="widget_title">Upcoming Events</h3>
                    <div class="widget_content">
                    	<img src="images/screen_widget.jpg" alt="Screenshot" style="float:left; margin:0 10px 2px 0;" /><p>This is a text widget. You can have them as many as you like.<br /><br />This theme comes with fully working contact form, awesome slider for your featured images, nasty spinning slider buttons (never saw them anywhere else, so you can call it unique), 2 message buttons under the slider, PrettyPhoto plugin (better clone of Lightbox). <br /><br /> You will also have user-friendly dropdown navigation with infinite dropdown levels where you can style every even list item via Jquery, so no more hassle, it's automatic, you can just change the colors etc. in stylesheet and you are ready to go!</p>
                    </div><!--  END "widget_content"  //-->
                </div><!--  END "widget"  //-->
            </div><!--  END "sidebar_home"  //-->
        </div><!--  END "content_wrap"  //-->
