@charset "utf-8";
/* CSS Document */

/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-decoration:none;
}

#header_wrap {
    background: url("../images/header_bg.png") repeat-x scroll 0 0 transparent;
    display: block;
    height: 132px;
    margin-bottom: 20px;
    width: 100%;
    z-index: 2;
	position:relative
	}
	
body{background: url("../images/bg-body.jpg") repeat scroll 0px 0px transparent;}
	
.section,#sevenly_impact .section{margin:0 auto;padding:0 5px;position:relative;width:980px;z-index:1;}

#header{display:block;height:60px;z-index:2;}

.input-field{
background-color:#666666;background-repeat:repeat-x;
background-image:-khtml-gradient(linear, left top, left bottom, from(#666666), to(#4d4d4d));
background-image:-moz-linear-gradient(top, #666666, #4d4d4d);
background-image:-ms-linear-gradient(top, #666666, #4d4d4d);
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #4d4d4d));
background-image:-webkit-linear-gradient(top, #666666, #4d4d4d);
background-image:-o-linear-gradient(top, #666666, #4d4d4d);
background-image:linear-gradient(top, #666666, #4d4d4d);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#4d4d4d', GradientType=0);
border:1px solid #4d4d4d;box-shadow:0 1px 0 #666666;
color:#ffffff;position:relative;
margin-top:10px;width:170px;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;
border-top:2px solid #4b4b4b;
padding: 5px 5px 5px 28px;
}
.input-submit{
 background: url("../images/search_icon.png") no-repeat scroll right top transparent;
    border: 0 none;
    height: 30px;
    left: 5px;
    top: 11px;
    position: absolute;
    width: 30px;
}
.search-form{
 float: right;
    height: auto;
    position: relative;
    width: auto;
}

.social-icons{ float: right;  margin-right: 30px;    margin-top: 8px;  width: auto;}
.fb-icon{
width:32px;height:32px;float:left;background:url(../images/fb-icon.png) no-repeat;display:block;margin-right:15px;
}
.fb-icon:hover{background:url(../images/fb-icon-hover.png) no-repeat;}

.twitter-icon{width:32px;height:32px;float:left;background:url(../images/twitter-icon.png) no-repeat;display:block;}
.twitter-icon:hover{background:url(../images/twitter-icon-hover.png) no-repeat;}

.main-navigation{display:block;height:60px;}

.main-navigation h1{width:360px;height:50px;background:url(../images/logo.png) no-repeat; margin-top: 6px;float:left;
}

/* 
======
Main Menu
=====
*/
.menu{float:right;height:auto;width:auto;list-style-type:none;}

div#menu {
    height:41px;
    float:right;
	margin-top:8px;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 18px Trebuchet MS;
}
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(../images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(../images/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;
}
div#menu span {
    margin-top: 5px;
}/**@replace#1*/
div#menu li { background: url(../images/main-delimiter.png) 98% 4px no-repeat; }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: rgb(45,45,45);
    margin-top:1px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(../images/lava.png) no-repeat right -44px !important;
    background-image: url(../images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(../images/lava.png) no-repeat top left !important;
    background-image: url(../images/lava.gif);
    height: 44px;
    margin-right: 8px;
}
/* MEnu Ends here */

#large_bg_img {
    height: 700px;
	}
	
	#large_bg_img {

    display: block;
    height: 700px;
    left: 0;
    min-width: 950px;
    overflow: hidden;
    position: absolute;
    top: 123px;
    width: 100%;
    z-index: -1;
	}
	
	#large_bg_img_overlay {
    background: url("/images/bg_pattern_overlay.png") repeat scroll 0 0 transparent;
    display: block;
    height: 750px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
	}
	
	#large_bg_img img {
    position: absolute;
    top: 0;
	 min-height: 750px;
    min-width: 1100px;
    width: 100%;
    z-index: 1;
	 vertical-align: middle;
	}
	
.flash-coverflow{ height: 380px;  margin: 0 auto;   position: relative;   top: -34px;  width: 800px;}
.flash-coverflow object{margin-top:-22px;}

/* Content Wrapper */
.content-wrapper{width:980px;height:auto;margin:0 auto;margin-bottom:20px;}

.content-container{
background:url(../images/content-bg.png);height:260px; border-radius: 10px 10px 10px 10px;
-moz-border-radius:10px;-webkit-border-radius:10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* FF3.5 - 3.6 */
    margin-bottom: 30px;}

.gradient-sep{
 background: url("../images/bg-agenda.gif") repeat-x scroll 0 0 transparent;
    height: 2px;
    overflow: hidden;
    padding: 0;
    width: 100%;
	}


/* News Items */	
.news-wrapper{border-right: 1px solid #2B2B2B;  float: left;  height: 238px;   overflow: hidden;  padding-right: 15px;  width: 300px;}

.news-wrapper h1{background: url("../images/showcase-bg.png") no-repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-family: "Trebuchet MS";
    font-size: 18px;
    height: 28px;
    margin-bottom: 10px;
    padding-left: 5px;
	 padding-top: 2px;
	}
	
.news-item-container{
    clear: left;
    float: left;
    margin-bottom: 5px;
    padding-bottom: 10px;
    width: 300px;}
	
.news-container-border{
border: 1px solid #5E5E5E;
    border-radius: 8px 8px 8px 8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
    float: left;  
    padding: 6px; 
    height: 238px;
    margin: 4px;
    padding: 6px;
    width: 958px;
	
	}
	
.news-item-img{
    background: url("../images/showcase-bg.png") no-repeat scroll 0 0 transparent;
     height: 80px;
    width: 120px;
	position: relative;
	margin-left: 10px;
    margin-top: 10px;
	float:left;
}

.news-item-img img{
height: 70px;
margin: 5px 0 0 5px;
 width: 110px;
 float:left;
}

.news-item-description{float:left;width:170px;}
.news-item-description h2{color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 6px;
}
.news-item-description p{color: #9A9898; font-family: arial; font-size: 11px; line-height: 18px; margin-left: 10px; margin-top: 8px; text-align: justify;}
.news-item-description h2:hover{text-decoration:underline}

.news-item-date{background:url(../images/date-bg.png) no-repeat;width:46px;height:54px;position:absolute;
top:-10px;left:-10px;text-align:center;color:#fff;font-family:arial;padding-top:6px;
letter-spacing:1px;font-size:8px;
}
.news-item-date span{font-weight:bold;font-size:20px;}

/* Testimonials */
.testimonal{border-left:1px solid #5B5A5A;padding-left:15px;}
.memb-spk-img{float:left;width:76px;height:76px;padding:4px;border:1px solid gray;margin-right:10px;}
.membr-spk-desk h2{ color: #FFFFFF;  font-size: 18px;  font-style: italic;margin-bottom:5px;}
.membr-spk-desk em{color: #C2C2C2; font-size: 13px;}
.testimonal h3{ clear: both;color: #FFFFFF; float: left; font-family: trebuchet MS;  font-size: 16px;  font-weight: bold;  margin-top: 10px;}
.testimonal p{float: left;color: #9A9898;font-size: 13px;font-style: italic; line-height: 21px; margin: 3px 0 0; padding: 0 0 8px; text-align: justify;}
.testimonal p a{color:#fff;}
.testimonal p a:hover, .blog-text h4 a:hover{text-decoration:underline}


/* Events */
.events{ border-left: 1px solid #5B5A5A;  border-right: 0 none;  padding-left: 15px;  padding-right: 0;  width: 294px;}
.blog {float: left;  list-style: none outside none;   margin: 8px 0 0;   padding: 0;}
.blog li {background: url("../images/divider-blog.gif") no-repeat scroll 6px 0 transparent; float: left;  padding: 1px 0 8px; width: 100%}
.date-box { background: url("../images/bg-date-box.png") no-repeat scroll 0 0 transparent;  float: left;  font-style: italic;   height: 80px;   margin: -7px 0 0 -5px;   padding: 10px 0 0;   position: relative;   text-align: center;   width: 77px;}
	
.date-box em {color: #363636; font-size: 13px;}
.date-box span {color: #363636;  display: block;  font-size: 40px;   line-height: 60px;   margin: -5px 0 0;}
.blog-text {float: left;   padding: 0 0 0 15px;   width: 205px;}
.blog-text h4 {font-size: 15px;font-style: italic;font-weight: normal;margin: 4px 0 6px;}
.blog-text h4 a{color:#fff;}
.posted { color: #C2C2C2;   font-size: 10px; padding: 0 0 0 5px;   text-transform: uppercase;}
.blog-text h3 {  color: #C2C2C2; font-size: 13px; font-style: italic; font-weight: normal; margin: 5px 0 0; padding: 0 0 0 5px;}

/* Sponsers */
.sponsers{ margin: 0 auto; width: 980px;height:100px;}
.product-holder {background: url("/images/bg-state-products.png") no-repeat scroll 0 0 transparent; height: 125px;  overflow: hidden;  width: 976px;
margin-top:15px;margin-bottom:15px;}
.product-holder .box-left { float: left;  left: 50%;  position: relative;}
.product-holder .box-center {  left: -50%;  position: relative;}
.product-holder ul { list-style: none outside none;  margin: 0;   padding: 0;}
.product-holder ul li {  float: left;}
.product-holder ul li div { margin: 9px 0 0;   padding: 36px 18px;   position: relative;   width: 170px;}
.link-governor { background-position: 0 -21px !important;   width: 177px;}
.link-hear, .link-governor, .link-shoppe, .link-claim {  background: url("/images/txt-products.gif") no-repeat scroll 0 0 transparent;  display: block;
    height: 33px;   margin: 0 auto;  overflow: hidden;  position: relative;   text-indent: -9999px;}

.link-shoppe {  background-position: -238px -19px !important;  margin: -2px auto 0;   width: 119px;}
.link-hear { background-position: -466px -24px !important;   margin: 3px auto 0;   width: 129px;}
.link-claim {  background-position: -658px -18px !important;   width: 121px;}

.product-holder ul li:hover div, .product-holder ul li.hover div {  background: url("/images/bg-outer-glow.png") no-repeat scroll 0 0 transparent;
    margin: 9px -82px 0;   padding: 36px 100px;}
	
/* Media Gallery */
.media-gallery-btn {float:left;
border:1px solid #4d4d4d;box-shadow:0 1px 0 #666666;
color:#ffffff;position:relative;
margin-top:10px;width:auto;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
border-top:2px solid #4b4b4b;
padding: 5px 10px 5px 10px;
font-weight:bold;
text-shadow: 0 0 12px #262626;
font-size:14px;
font-family:"trebuchet MS";
}

.media-gallery-btn:hover{border:1px solid #000;border-top:2px solid #000;}
div#media-centre-holder {
    display: block;
    height: 400px;
    left: 50%;
    margin: 0 0 0 -497px;
    overflow: hidden;
    position: absolute;
    top: 128px;
    width: 993px;
    z-index: 50;
	}
	div#media-centre-holder div#media-centre {
    background: url("../images/media-centre-bg.png") no-repeat scroll 0 0 #000000;
    display: block;
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 993px;
	}
	.videos-list-title{background: none repeat scroll 0 0 #000000;
    border: 1px solid #2D2D2D;
  border-bottom:0 none;
    font-family: trebuchet MS;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    position: absolute;
    right: 120px;
    top: 0px;
    width: auto;}
/*Myslider Ticker*/
	#myslider li{ height :105px;  }
	#test_slider li { height :200px;}
	/*
